@{
    ViewData["Title"] = "Fit for Life";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:palegoldenrod;border-radius:30px;">
    <h2>Fit for Life <i class="fa fa-heartbeat" style="font-size:36px;"></i></h2>
    <h3>The best fitness app for your lifestyle</h3>
</div>
<div class="ms-3">
    <address>
        600 Park Avenue<br />
        Traverse City, MI 49696<br />
        <i class="fa fa-phone" style="font-size:24px"></i> 800.FIT.LIFE
    </address>

    <address>
        <strong>Tech Support:</strong>   <a href="mailto:Support@fitforlife.com">Support@fitforlife.com</a><br />
        <strong>Sales/Marketing:</strong> <a href="mailto:Marketing@fitforlife.com">Marketing@fitforlife.com</a>
    </address>
</div>