@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="p-5 ms-0 mb-4 shadow" style="background-color:palegoldenrod;border-radius:30px;">
<h1>@ViewData["Title"]</h1>
</div>
<p>Client information is confidential.</p>
